@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

.celiacos-section {
    position: relative;
    width: 100%;
    background-color: #F4EDE5;
}
.celiacos-content{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 40px;
}
.celiacos-content h2 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 800;
    margin-bottom: 50px;
    color: #211B1A;
    text-align: center;
    font-size: 35px;
}

.celiacos-content p {
    font-family: 'Montserrat', sans-serif;
        font-size: 25px;
    color: #000000;
    line-height: 1.6;
}

.celiacos-content hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.celiacos-card {
    text-align: left;
    max-width: 1250px;
    margin: 0 auto;
    padding: 2rem;
}

.celiacosp {
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.celiacos-card ul {
    margin-left: 1.2rem;
    margin-bottom: 1.5rem;
}

.ingredient-list {
    list-style: none;
    padding-left: 0;
}

.ingredient-list li::before {
    content: '✅';
    margin-right: 0.5rem;
}
.imagen-celiacos{
    display: flex;
    justify-content: flex-end
}
.imagen-celiacos img{
    width: 150px;
}
.celiacos-triangle{
    display: flex;
}
.celiacos-triangle img{
    width: 30%;
}
.celiacos-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
@font-face {
    font-family: 'Calvin Heavy';
    src: url('./fonts/Calvin-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.celiacos-card h3 {
    font-family: 'Calvin Heavy', sans-serif;
    color: #E92E3B;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.celiacos-card img {
    width: 80%;
    border-radius: 12px;
    object-fit: cover;
}