@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');

.card-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    justify-items: center;
}

.novedades {
    font-family: 'Abhaya Libre', serif;
    font-weight: 800;
    margin-bottom: 50px;
    color: #211B1A;
    text-align: center;
    font-size: 45px;
}

.card-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.card-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card-item p {
    padding: 1rem;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

/* Sección de imagen + botón */
.image-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.image-8 img {
    width: 90%;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.image-8 button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    background-color: #E92E3B;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.image-8 button:hover {
    background-color: #b33232;
}

/* Responsive */

/* 1024px - 1279px */
@media (min-width: 1024px) and (max-width: 1279px) {
    .card-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 1.5rem;
    }

    .novedades {
        font-size: 40px;
    }

    .card-item {
        max-width: 350px;
    }

    .card-item p {
        font-size: 0.95rem;
    }

    .image-8 button {
        margin-top: 6.5rem;
    }
}

/* 1280px - 1439px */
@media (min-width: 1280px) and (max-width: 1439px) {
    .card-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem;
    }

    .novedades {
        font-size: 42px;
    }

    .card-item {
        max-width: 370px;
    }

    .card-item p {
        font-size: 1rem;
    }

    .image-8 button {
        margin-top: 14rem;
    }
}

/* 1440px - 1919px */
@media (min-width: 1440px) and (max-width: 1919px) {
    .card-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        padding: 3rem;
    }

    .novedades {
        font-size: 45px;
    }

    .card-item {
        max-width: 400px;
    }

    .card-item p {
        font-size: 1.05rem;
    }

    .image-8 button {
        margin-top: 6rem;
    }
}

/* 1440px - 1919px */
@media (min-width: 1920px) and (max-width: 2000px) {
    .card-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        padding: 3rem;
    }

    .novedades {
        font-size: 45px;
    }

    .card-item {
        max-width: 400px;
    }

    .card-item p {
        font-size: 1.05rem;
    }

    .image-8 button {
        margin-top: -2rem;
    }
}